<!-- Include head and header partial ejs templates-->

<%- include('../partials/head'); %>

<!-- Get Values from readingData object -->

<% for (let row of readingData) { %>
<% var readingid = row.ReadingId; %>
<% var enjoyment = row.enjoyment; %>
<% var sadness = row.sadness; %>
<% var anger = row.anger; %>
<% var contempt = row.contempt; %>
<% var disgust = row.disgust; %>
<% var fear = row.fear; %>
<% var surprise = row.surprise; %>
<% var contextID = row.contextID; %>
<!-- Date Formatting -->
<% var timestamp = row.timestamp; %>
<% var UserComment = row.UserComment; %>
<% var user_id = row.user_id; %>

<% } %>



  <!-- Page container - include forms, components etc within container-->
  <div class="container">

    <h1 class='title' class="pt-5"><%= timestamp.substring(0,10); %> reading</h1>
    

      <div class="row">

      <div class="col-md-6">
        <div class="mb-3">
          <label for="enjoyment" class="form-label col-md-10">Enjoyment Level:</label><output class="output-result"><%= enjoyment %></output>
          <input type="range" class="form-range" min="1" max="10" id="enjoyment" name="enjoyment" value="<%= enjoyment %>" disabled>
          
        </div>
  
        <div class="mb-3">
          <label for="sadness" class="form-label col-md-10">Sadness Level:</label><output class="output-result"><%= sadness %></output>
          <input type="range" class="form-range" min="1" max="10" id="sadness" name="sadness" value="<%= sadness %>" disabled>
          
        </div>
  
        <div class="mb-3">
          <label for="anger" class="form-label col-md-10">Anger Level:</label><output class="output-result"><%= anger %></output>
          <input type="range" class="form-range" min="1" max="10" id="anger" name="anger" value="<%= anger %>" disabled>
          
        </div>
  
        <div class="mb-3">
          <label for="contempt" class="form-label col-md-10">Contempt Level:</label><output class="output-result"><%= contempt %></output>
          <input type="range" class="form-range" min="1" max="10" id="contempt" name="contempt" value="<%= contempt %>" disabled>
          
        </div>
  
        <div class="mb-3">
          <label for="disgust" class="form-label col-md-10">Disgust Level:</label><output class="output-result"><%= disgust %></output>
          <input type="range" class="form-range" min="1" max="10" id="disgust" name="disgust" value="<%= disgust %>" disabled>
          
        </div>
  
        <div class="mb-3">
          <label for="fear" class="form-label col-md-10">Fear Level:</label><output class="output-result"><%= fear %></output>
          <input type="range" class="form-range" min="1" max="10" id="fear" name="fear" value="<%= fear %>" disabled>
          
        </div>
  
        <div class="mb-3">
          <label for="surprise" class="form-label col-md-10">Surprise Level:</label><output class="output-result"><%= surprise %></output>
          <input type="range" class="form-range" min="1" max="10" id="surprise" name="surprise" value="<%= surprise %>"  disabled>
          
        </div>


      </div><!-- End col-sm-6-->

      <div class="col-md-6">

        <canvas id="marksChart" width="500px" height="500px"></canvas>



        <div class="">
          <label for="contextID" class="form-label">What Triggered These Emotions?</label>
          <select class="form-select" id="contextID" name="contextID" disabled>          
            <!-- <option selected disabled value="">Please Choose...</option> -->
            
            <% triggerList.forEach((row) => { %>

              <% if (row.contextID === contextID ) { %>

                <option value="<%= row.contextID %>" selected><%= row.contextlabel %></option>

              <% } else { %>

                <option value="<%= row.contextID %>"><%= row.contextlabel %></option>

             <% } %>
            

            
            <% }); %>
          </select>
          <div class="invalid-feedback">
            Please select contextual trigger
          </div>
        </div>
  
        <div class="mb-3">
          <label for="UserComment" class="form-label">Journal Entry:</label>
          <textarea class="form-control" id="UserComment" name="UserComment" rows="10" disabled><%= UserComment %></textarea>
        </div>
  
        <div class="mb-3">
          <a class="btn btn-warning" href="/editreading/<%= readingid %>"> Update Reading </a> 
          
        </div>
      

      </div> <!-- End col-sm-6-->
    </div><!-- /row-->

  </div><!-- /.container -->

  <script>

var marksCanvas = document.getElementById("marksChart");

var marksData = {
  labels: ["Enjoyment", "Sadness", "Anger", "Contempt", "Disgust", "Fear", "Surprise"],
  datasets: [{
    backgroundColor: "rgba(0,0,200,0.2)",
    data: [<%= enjoyment %>, <%= sadness %>, <%= anger %>, <%= contempt %>, <%= disgust %>, <%= fear %>, <%= surprise %>]
  }]
};

var radarChart = new Chart(marksCanvas, {
  type: 'radar',
  data: marksData,
  options: {
    scales: {r: {beginAtZero: true, min: 0, max:10}}
}
  
});



  </script>

  <!-- Include footer partial ejs templates-->

  <%- include('../partials/footer'); %>